<form class="p-3 d-flex centered-items" style="flex-wrap:wrap;">
  <div class="pl-3 d-inline w-sm-50">
    <section class="w-25">
      <mat-form-field appearance="fill">
        <mat-label> Mostrar registros </mat-label>
        <input matInput type="number" value="1" max="30" min="1">
      </mat-form-field>
    </section>
  </div>

  <div class="pl-3 w-sm-50">
    <section class="w-25">
      <mat-form-field appearance="fill">
        <mat-label> Estados </mat-label>
        <mat-select>
          <mat-option *ngFor="let estado of houseKeeping | keyvalue" [value]="estado.value">
            {{ estado.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </div>

  <div class="pl-3 d-md-block my-sm-3 w-sm-50 my-md-1 btn-custom">
    <button mat-raised-button> Cambiar Estado </button>
  </div>

  <div class="pl-3 my-sm-3 w-sm-50 my-md-1 btn-custom">
    <button mat-raised-button> Guardar Estados </button>
  </div>

  <div class="float-right pl-3 col-sm-12 col-md-2 w-sm-50 float-custom">
    <mat-form-field appearance="fill">
      <mat-label> Buscar: </mat-label>
      <input matInput #value (input)="search(value.value.toString())">
    </mat-form-field>
  </div>
</form>
