<form class="d-flex p-4" style="flex-wrap: wrap;">
  <div class="width-custom pl-3 d-inline m-auto">
    <section class="d-inline w-25">
      <mat-form-field appearance="fill" style="width: 250px;">
        <mat-label> Introduzca un rango de fechas </mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate">
          <input #dateRangeStart matStartDate placeholder="Fecha Entrada">
          <input #dateRangeEnd matEndDate placeholder="Fecha Salida">
        </mat-date-range-input>
        <mat-hint> DD/MM/YYYY - DD/MM/YYYY </mat-hint>
        <mat-datepicker-toggle MatSuffix [for]="picker" style="position: absolute; top:-17px; left: 200px"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </section>
  </div>

  <div class="width-custom pl-3 d-inline m-auto">
    <section class="d-inline w-25">
      <mat-form-field appearance="fill">
        <mat-label> Seleccione un estado </mat-label>
        <mat-select>
          <mat-option *ngFor="let estado of houseKeeping | keyvalue"[value]="estado.value">
            {{ estado.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </div>

  <div class="width-custom pl-3 d-inline m-auto custom-margin">
    <section class="w-25 d-inline">
      <mat-checkbox class="bloqueadas" (change)="filterBlocked($event.checked)"> Solo bloqueadas </mat-checkbox>
    </section>
  </div>
</form>



