.width-custom {
  width: 100% !important;
}

.position-absolute {
  position: absolute !important;
  top:-17px;
  left: 190px;
}

.w-240 {
  width: 240px !important;
}

.custom-margin {
  width: 55% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}


@media screen and (min-width:767px) {
  .width-custom {
    width: auto !important;
  }

  .custom-margin {
    width: 140px !important;
  }
}

@media screen and (min-width:1023px) {
  .width-custom {
    width: 27% !important;
  }

  .custom-margin {
    width: 140px !important;
  }
}


@media screen and (min-width:1439px) {
  .width-custom {
<<<<<<< HEAD
    width: 29% !important;
=======
    width: 19% !important;
>>>>>>> 462b00db0f4090405d115747f60f2f666187522b
  }

  .custom-margin {
    width: 140px !important;
  }
}

@media screen and (min-width: 1919px) {
  .width-custom {
<<<<<<< HEAD
    width: 22% !important;
=======
    width: 14.2% !important;
>>>>>>> 462b00db0f4090405d115747f60f2f666187522b
  }
  .custom-margin {
    width: 140px !important;
  }
}

@media screen and (min-width: 2530px) {
  .width-custom {
<<<<<<< HEAD
    width: 16% !important;
=======
    width: 10.5% !important;
>>>>>>> 462b00db0f4090405d115747f60f2f666187522b
  }
  .custom-margin {
    width: 140px !important;
  }
}
