.my-sm-3 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.float-custom {
  order:2;
  margin-left:auto;
}

@media screen and (max-width:767px) {
  .my-sm-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .w-sm-50 {
    width: 80% !important;
  }

  .centered-items {
    align-items: center;
    justify-content: center;
  }
  .float-custom {
    order:0;
    margin-left:0;
  }
}

@media (min-width:767px) and (max-width:900px) {
  .d-md-block {
    display: block;
  }
  .w-sm-50 {
    width: 50% !important;
  }

  .my-md-1 {
    margin-top: 0.8em !important;
    margin-bottom: 0.8em !important;
  }

  .float-custom {
    order:0;
    margin-left:0;
  }
}

@media screen and (min-width:1023px) {
  .float-custom {
    display: inline-block;
    right: -10px;
    margin-left: 5px;
  }

  .btn-custom {
    align-self: center;
  }
}

@media screen and (min-width:1423px) {
  .float-custom {
    left: 425px;
    right: 0 !important;
  }
}
