<header>
  <app-navbar></app-navbar>
</header>

<main class="mt-3" *ngIf="!isLoading">
  <app-selectores [rooms]="rooms" [roomInfoAux]="roomsAux"> </app-selectores>

  <app-paginacion [rooms]="roomsAux"> </app-paginacion>

  <div class="d-md-flex d-block">
    <app-filtrosorden [rooms]="roomsAux" class="d-block w-80"> </app-filtrosorden>

    <app-search [rooms]="roomsAux" class="float-right w-20"> </app-search>
  </div>

  <app-principal [rooms]="roomsAux"> </app-principal>

  <app-leyenda> </app-leyenda>
</main>
