.float-custom {
  width:80%;
<<<<<<< HEAD
}

@media screen and (min-width:767px) {
  .float-custom {
    display:flex;
    justify-content:flex-end;
  }
=======
  display:flex;
  justify-content:flex-end;
>>>>>>> 462b00db0f4090405d115747f60f2f666187522b
}

.example-form-field {
  width: 200px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
