.float-custom {
  width:80%;
  display:flex;
  justify-content:flex-end;
}

.example-form-field {
  width: 200px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
