.margin-top-custom {
  height: 24px !important;
  display: inline-flex;
  justify-content: center;
}

.filter {
  padding: 5px;
}

.filter:hover {
  background-color: #e7e7e7;
  border-radius: 15px;
}
