<ng-container *ngIf="!isLoading">
  <div class="row ml-3 mb-3" style="height: 20px">
    <div class="ml-2 filter" *ngFor="let filter of filters" (click)="setFilterHandler(filter)" role="button">
      <div class="d-flex align-items-center align-content-center"
           [ngStyle]="{'color': filterHandler.indexOf(filter) !== -1 ? 'red' : ''}">
        <span>{{ filter.label }}</span>
        <app-flechas *ngIf="filterHandler.indexOf(filter) !== -1; else noFilter" [isAsc]="filter.asc"></app-flechas>
      </div>
    </div>
    <mat-icon class="ml-3" matTooltip="Limpiar Filtro" [style.color]="'red'" *ngIf="filterHandler.length > 0"
              (click)="resetFilters()" role="button">cancel
    </mat-icon>
  </div>
</ng-container>

<ng-template #noFilter>
  <div class="d-flex flex-column">
    <mat-icon style="font-size: 20px">touch_app</mat-icon>
  </div>
</ng-template>
