.fila {
  flex-direction: row;
  height: 110px;
}
.borde-custom {
  border: 1px solid gray;
}
.personas {
  background-color: white;
}

.habitacion {
  border-left: 1px solid gray;
}

.custom-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.circlebadge {
  width: 20px !important;
  height: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2px !important;
}

.sucia {
  background-color: rgb(250, 250, 119);
}

.revisada {
  background-color: rgb(82, 178, 82);
}

.limpia {
  background-color: lightskyblue;
}

.bloqueada {
  background-color: rgb(231, 94, 94) !important;
}

@media screen and ((min-width:324px) and (max-width:1022px))  {
  .mx-sm-3 {
    margin-left: 0.75em !important;
    margin-right: 0.75em !important;
  }
}

@media screen and (min-width: 1023) {
  .mx-lg-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1919px) {
  .col-xxl-1 {
    max-width: 12.5% !important;
    flex: 0 0 12.5% !important;
  }
}


@media screen and (min-width: 2530px) {
  .col-xxl-1 {
    max-width: 8.333335% !important;
    flex: 0 0 8.333335% !important;
  }
}
